{#
/**
 * @file
 * Default theme implementation for the diff plus ui.
 *
 * Available variables:
 * - entity: The entity whose revisions are being reviewed.
 * - from_revision: The entity revision that marks the start of the range.
 * - from_revision_author: The author of the from_revision (if available).
 * - to_revision: The entity revision that marks the end of the range.
 * - to_revision_author: The author of the to_revision (if available).
 * - previous_revision: A link to the previous revision (if available).
 * - next_revision: A link to the next revision (if available).
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<div id="diff-plus-ui" class="diff-plus-ui">
  <div class="diff-plus-ui__revisions">
    <div class="diff-plus-ui__from-revision">
      <div class="diff-plus-ui__metadata">
        <h2 class="diff-plus-ui__metadata-title">
          {{
            'From %link (%status)'|t({
              '%link': '<a href="@url">revision @revision_id</a>'|t({
                '@url': from_revision_url,
                '@revision_id': from_revision.getRevisionId(),
              }),
              '%status': from_status,
            })
          }}
        </h2>
        <div class="diff-plus-ui__metadata-content">
          {% if from_revision_author %}
            {% set file_uri = from_revision_author.user_picture.entity.fileuri %}
            {% set display_name = from_revision_author.getDisplayName() %}
            {% if file_uri %}
              <img class="diff-plus-ui__metadata-avatar" src="{{ file_url(file_uri) }}" alt="{{ display_name }} profile photo">
            {% else %}
              <img class="diff-plus-ui__metadata-avatar" src="/core/misc/icons/bebebe/person.svg" alt="" aria-hidden="true">
            {% endif %}
            <div class="diff-plus-ui__metadata-authoring">
              <span class="diff-plus-ui__metadata-authored-by">
                {{ 'Authored by %display_name'|t({ '%display_name': display_name }) }}
              </span>
              <span class="diff-plus-ui__metadata-authored-on">
                {{ 'on %datetime'|t({'%datetime': from_revision.getRevisionCreationTime()|date('F jS, Y g:ia') }) }}
              </span>
            </div>
          {% else %}
            <img class="diff-plus-ui__metadata-avatar" src="/core/misc/icons/bebebe/person.svg" alt="" aria-hidden="true">
            <div class="diff-plus-ui__metadata-authoring">
              <span class="diff-plus-ui__metadata-authored-by">{{ 'Authored by %user.'|t({'%user': 'a user who you do not have permission to view'|t}) }}</span>
              <span class="diff-plus-ui__metadata-authored-on">{{ 'on %datetime'|t({'%datetime': from_revision.getRevisionCreationTime()|date('F jS, Y g:ia') }) }}</span>
            </div>
          {% endif %}
        </div>
        {% set notes = from_revision.getRevisionLogMessage() %}
        {% if notes %}
          <div class="diff-plus-ui__metadata-notes">
            <strong>{{ 'Notes:'|t  }}</strong><br />
            <q>{{ notes }}</q>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="diff-plus-ui__to-revision">
      <div class="diff-plus-ui__metadata">
        <h2 class="diff-plus-ui__metadata-title">
          {{
          'To %link (%status)'|t({
            '%link': '<a href="@url">revision @revision_id</a>'|t({
              '@url': to_revision_url,
              '@revision_id': to_revision.getRevisionId(),
            }),
            '%status': to_status,
          })
          }}
        </h2>
        <div class="diff-plus-ui__metadata-content">
          {% if to_revision_author %}
            {% set file_uri = to_revision_author.user_picture.entity.fileuri %}
            {% set display_name = to_revision_author.getDisplayName() %}
            {% if file_uri %}
              <img class="diff-plus-ui__metadata-avatar" src="{{ file_url(file_uri) }}" alt="{{ display_name }} profile photo">
            {% else %}
              <img class="diff-plus-ui__metadata-avatar" src="/core/misc/icons/bebebe/person.svg" alt="" aria-hidden="true">
            {% endif %}
            <div class="diff-plus-ui__metadata-authoring">
              <span class="diff-plus-ui__metadata-authored-by">
                {{ 'Authored by %display_name'|t({ '%display_name': display_name }) }}
              </span>
              <span class="diff-plus-ui__metadata-authored-on">
                {{ 'on %datetime'|t({'%datetime': to_revision.getRevisionCreationTime()|date('F jS, Y g:ia') }) }}
              </span>
            </div>
          {% else %}
            <img class="diff-plus-ui__metadata-avatar" src="/core/misc/icons/bebebe/person.svg" alt="" aria-hidden="true">
            <div class="diff-plus-ui__metadata-authoring">
              <span class="diff-plus-ui__metadata-authored-by">{{ 'Authored by %user.'|t({'%user': 'a user who you do not have permission to view'|t}) }}</span>
              <span class="diff-plus-ui__metadata-authored-on">{{ 'on %datetime'|t({'%datetime': to_revision.getRevisionCreationTime()|date('F jS, Y g:ia') }) }}</span>
            </div>
          {% endif %}
        </div>

        {% set notes = to_revision.getRevisionLogMessage() %}
        {% if notes %}
          <div class="diff-plus-ui__metadata-notes">
            <strong>{{ 'Notes:'|t }}</strong><br />
            <q>{{ notes }}</q>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="diff-plus-ui__settings">
    <button class="diff-plus-ui__settings-toggle" aria-expanded="false" aria-label="{{ 'open diff settings'|t }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 122.881 95.629">
        <g>
          <path d="M112.13,54.992c-0.495-0.348-1.023-0.47-1.595-0.37s-1.034,0.395-1.375,0.889l-1.869,2.649 c-0.675-0.287-1.377-0.518-2.102-0.707s-1.456-0.335-2.188-0.442l-0.605-3.469c-0.102-0.586-0.388-1.043-0.865-1.38 c-0.478-0.336-1.006-0.449-1.591-0.347l-4.354,0.759c-0.557,0.098-1.007,0.382-1.357,0.862c-0.342,0.479-0.464,1.008-0.361,1.593 l0.554,3.177c-0.698,0.298-1.368,0.636-1.999,1.019c-0.64,0.383-1.237,0.796-1.792,1.239l-2.937-2.033 c-0.465-0.346-0.98-0.477-1.559-0.375c-0.571,0.099-1.026,0.399-1.375,0.887l-2.516,3.587c-0.348,0.495-0.469,1.023-0.369,1.594 c0.1,0.572,0.395,1.035,0.888,1.376l2.65,1.869c-0.287,0.675-0.518,1.377-0.708,2.102c-0.189,0.725-0.334,1.456-0.442,2.188 l-3.469,0.605c-0.585,0.102-1.043,0.387-1.379,0.865c-0.336,0.478-0.45,1.006-0.348,1.591l0.76,4.354 c0.097,0.557,0.381,1.007,0.861,1.357c0.479,0.342,1.008,0.464,1.594,0.361l3.176-0.554c0.298,0.698,0.636,1.367,1.019,1.999 c0.384,0.64,0.8,1.251,1.247,1.834l-2.041,2.895c-0.346,0.465-0.476,0.98-0.375,1.559c0.1,0.571,0.399,1.026,0.887,1.375 l3.595,2.558c0.49,0.319,1.016,0.427,1.587,0.327s1.037-0.38,1.383-0.845l1.862-2.693c0.674,0.287,1.376,0.518,2.102,0.707 c0.724,0.19,1.455,0.335,2.188,0.442l0.604,3.47c0.102,0.585,0.388,1.043,0.865,1.379c0.478,0.335,1.006,0.45,1.591,0.348 l4.354-0.76c0.557-0.097,1.007-0.382,1.357-0.861c0.343-0.479,0.464-1.008,0.361-1.594l-0.554-3.177 c0.698-0.298,1.368-0.635,2-1.018c0.639-0.384,1.25-0.8,1.834-1.247l2.894,2.041c0.466,0.346,0.988,0.475,1.573,0.372 c0.593-0.104,1.04-0.401,1.361-0.885l2.558-3.594c0.318-0.49,0.426-1.016,0.327-1.587c-0.101-0.571-0.381-1.037-0.845-1.383 l-2.693-1.861c0.287-0.676,0.518-1.378,0.707-2.103c0.189-0.724,0.334-1.456,0.442-2.188l3.469-0.604 c0.585-0.103,1.043-0.388,1.379-0.866c0.337-0.478,0.45-1.005,0.348-1.591l-0.759-4.354c-0.098-0.557-0.382-1.008-0.862-1.357 c-0.479-0.344-1.008-0.464-1.593-0.362l-3.177,0.554c-0.293-0.67-0.63-1.332-1.015-1.978c-0.387-0.653-0.801-1.258-1.243-1.813 l2.033-2.936c0.346-0.466,0.476-0.981,0.375-1.56c-0.1-0.571-0.399-1.026-0.887-1.375L112.13,54.992L112.13,54.992z M99.48,65.248 c1.16-0.203,2.295-0.176,3.412,0.082c1.11,0.266,2.115,0.71,3.011,1.334c0.891,0.632,1.649,1.427,2.275,2.382 c0.62,0.964,1.03,2.022,1.232,3.183c0.203,1.161,0.175,2.296-0.082,3.412c-0.266,1.111-0.711,2.114-1.336,3.011 c-0.631,0.892-1.425,1.649-2.381,2.275c-0.963,0.62-2.021,1.03-3.182,1.233c-1.161,0.202-2.296,0.175-3.412-0.083 c-1.111-0.266-2.115-0.71-3.011-1.335c-0.892-0.632-1.649-1.426-2.275-2.381c-0.62-0.964-1.03-2.022-1.233-3.183 c-0.202-1.161-0.175-2.296,0.083-3.412c0.266-1.111,0.71-2.115,1.335-3.012c0.631-0.89,1.426-1.648,2.381-2.274 C97.262,65.86,98.319,65.45,99.48,65.248L99.48,65.248z M66.013,13.556c-0.18-0.181-0.348-0.303-0.502-0.368 c-0.146-0.062-0.33-0.092-0.551-0.092c-0.225,0-0.412,0.032-0.563,0.095c-0.16,0.067-0.321,0.183-0.481,0.347l-0.019,0.018v0 l-4.172,4.159c-0.824,0.82-2.099,0.91-3.022,0.272c-0.469-0.301-0.972-0.595-1.504-0.883c-0.58-0.313-1.137-0.59-1.675-0.836 c-0.567-0.259-1.149-0.504-1.743-0.735c-0.519-0.202-1.119-0.415-1.792-0.636c-1.001-0.33-1.637-1.261-1.636-2.261h-0.001V6.238 c0-0.233-0.034-0.433-0.102-0.599c-0.065-0.161-0.171-0.313-0.315-0.459l-0.004,0.004c-0.151-0.15-0.303-0.257-0.455-0.319 c-0.166-0.068-0.366-0.101-0.599-0.101H38.85c-0.212,0-0.392,0.03-0.54,0.092c-0.166,0.068-0.336,0.187-0.511,0.356v0 c-0.142,0.143-0.246,0.291-0.31,0.444c-0.067,0.16-0.101,0.353-0.101,0.58v5.856c0,1.172-0.846,2.146-1.961,2.345 c-0.632,0.151-1.206,0.304-1.714,0.46c-0.575,0.176-1.157,0.378-1.746,0.607c-0.556,0.214-1.125,0.456-1.706,0.724 c-0.583,0.27-1.12,0.538-1.607,0.804c-0.94,0.512-2.075,0.323-2.8-0.392l-0.001,0.001l-4.62-4.553 c-0.019-0.019-0.037-0.037-0.055-0.056l-0.001,0c-0.145-0.153-0.29-0.263-0.435-0.326c-0.133-0.058-0.304-0.088-0.515-0.088 c-0.21,0-0.39,0.033-0.542,0.097c-0.177,0.075-0.351,0.197-0.521,0.363l-5.61,5.623l-0.004,0.004l0.004,0.005 c-0.18,0.18-0.302,0.347-0.367,0.501c-0.062,0.146-0.092,0.33-0.092,0.551c0,0.224,0.031,0.412,0.095,0.563 c0.068,0.16,0.183,0.321,0.347,0.481l0.018,0.019l0,0l4.159,4.172c0.82,0.825,0.91,2.099,0.272,3.023 c-0.301,0.468-0.595,0.971-0.883,1.504c-0.313,0.579-0.59,1.136-0.836,1.674c-0.26,0.568-0.505,1.15-0.735,1.744 c-0.202,0.52-0.415,1.12-0.637,1.792c-0.33,1.001-1.261,1.637-2.261,1.637v0.001H6.239c-0.234,0-0.434,0.034-0.599,0.101 c-0.162,0.066-0.313,0.169-0.454,0.311l-0.009,0.009l0,0c-0.141,0.141-0.245,0.292-0.311,0.454 c-0.067,0.166-0.101,0.366-0.101,0.599v8.028c0,0.211,0.031,0.391,0.092,0.54c0.068,0.165,0.187,0.335,0.357,0.511l0.002,0.002 c0.143,0.141,0.291,0.244,0.442,0.307c0.16,0.066,0.353,0.1,0.581,0.1h5.855c1.172,0,2.146,0.847,2.345,1.962 c0.15,0.629,0.302,1.199,0.458,1.706l0.002-0.001c0.185,0.604,0.387,1.189,0.607,1.755c0.212,0.55,0.457,1.132,0.733,1.745 c0.285,0.63,0.557,1.192,0.814,1.685c0.493,0.944,0.288,2.067-0.43,2.781l0.002,0.001l-4.554,4.541l-0.038,0.037h0.001 c-0.153,0.146-0.263,0.29-0.326,0.436c-0.058,0.133-0.088,0.304-0.088,0.515c0,0.209,0.033,0.39,0.097,0.541 c0.076,0.18,0.201,0.356,0.372,0.53l5.568,5.633c0.165,0.151,0.332,0.261,0.501,0.327c0.171,0.067,0.374,0.102,0.607,0.102 c0.236,0,0.442-0.034,0.618-0.104c0.165-0.065,0.323-0.167,0.472-0.307l4.125-4.19c0.821-0.835,2.108-0.935,3.041-0.291 c0.468,0.3,0.972,0.595,1.505,0.883c0.58,0.313,1.137,0.59,1.674,0.836c0.568,0.26,1.15,0.505,1.744,0.735 c0.519,0.202,1.12,0.415,1.792,0.636c1.001,0.33,1.637,1.262,1.637,2.262h0.001v6.396c0,0.232,0.034,0.433,0.102,0.599 c0.066,0.162,0.169,0.313,0.31,0.454l0.004,0.005l0.005-0.005c0.282,0.282,0.631,0.421,1.053,0.421h8.027 c0.211,0,0.392-0.03,0.54-0.092c0.165-0.068,0.335-0.188,0.511-0.357h0c0.142-0.144,0.245-0.292,0.309-0.444 c0.067-0.16,0.101-0.354,0.101-0.58v-5.856c0-1.173,0.847-2.147,1.961-2.346c0.632-0.15,1.206-0.304,1.714-0.46 c0.575-0.176,1.157-0.378,1.746-0.606c0.55-0.212,1.132-0.457,1.745-0.733c0.63-0.285,1.193-0.557,1.685-0.813 c0.944-0.493,2.067-0.288,2.781,0.43l0.001-0.002l4.541,4.554l0.036,0.038l0.001-0.001c0.147,0.155,0.292,0.265,0.434,0.326 c0.135,0.059,0.315,0.088,0.543,0.088c0.22,0,0.404-0.033,0.554-0.098c0.154-0.066,0.299-0.172,0.436-0.316 c0.03-0.031,0.061-0.062,0.092-0.092l5.598-5.532c0.15-0.164,0.26-0.331,0.326-0.501c0.067-0.171,0.102-0.373,0.102-0.606 c0-0.237-0.035-0.443-0.104-0.618c-0.065-0.166-0.167-0.323-0.306-0.472l-4.191-4.126c-0.835-0.821-0.935-2.109-0.291-3.041 c0.301-0.469,0.595-0.972,0.883-1.504c0.313-0.58,0.59-1.137,0.836-1.676c0.26-0.567,0.505-1.149,0.735-1.743 c0.202-0.519,0.415-1.12,0.637-1.792c0.33-1.002,1.262-1.637,2.262-1.637v-0.001h6.395c0.234,0,0.434-0.033,0.6-0.102 c0.162-0.065,0.313-0.169,0.454-0.31l0.005-0.004l-0.005-0.005c0.282-0.282,0.421-0.632,0.421-1.053V38.85 c0-0.212-0.031-0.392-0.092-0.54c-0.068-0.165-0.188-0.335-0.357-0.511l-0.002-0.003c-0.143-0.141-0.29-0.243-0.442-0.307 c-0.159-0.067-0.353-0.1-0.581-0.1h-5.855c-1.186,0-2.169-0.867-2.352-2.001c-0.133-0.528-0.283-1.067-0.453-1.616 c-0.171-0.55-0.375-1.141-0.617-1.774c-0.015-0.04-0.029-0.08-0.042-0.12c-0.221-0.578-0.445-1.117-0.673-1.616 c-0.253-0.554-0.521-1.09-0.804-1.608c-0.512-0.94-0.322-2.075,0.392-2.8l-0.001,0l4.554-4.62c0.019-0.019,0.037-0.037,0.057-0.055 l-0.001-0.001c0.153-0.145,0.263-0.29,0.326-0.435c0.058-0.133,0.088-0.304,0.088-0.515c0-0.21-0.033-0.39-0.098-0.542 c-0.075-0.176-0.196-0.35-0.363-0.521l-5.623-5.609l-0.005-0.005L66.013,13.556L66.013,13.556z M67.354,8.813 c0.756,0.32,1.432,0.777,2.028,1.373l-0.005,0.005l5.628,5.615l0,0l0.019,0.019c0.592,0.602,1.047,1.269,1.358,2 c0.323,0.76,0.488,1.56,0.488,2.403c0,0.855-0.168,1.659-0.498,2.414c-0.322,0.739-0.789,1.393-1.394,1.969l-3.313,3.36 c0.05,0.105,0.099,0.212,0.147,0.318c0.291,0.639,0.558,1.273,0.799,1.903c0.016,0.036,0.031,0.074,0.046,0.112 c0.245,0.642,0.481,1.335,0.71,2.072l0.076,0.248h4.043c0.853,0,1.652,0.158,2.405,0.473c0.739,0.31,1.404,0.763,1.998,1.36 l0.047,0.047c0.581,0.601,1.021,1.267,1.325,2c0.31,0.75,0.464,1.531,0.464,2.346v8.028c0,1.737-0.599,3.203-1.817,4.421 l-0.004-0.005c-0.608,0.607-1.284,1.062-2.032,1.366c-0.745,0.305-1.539,0.455-2.386,0.455H72.77 c-0.047,0.124-0.096,0.25-0.146,0.377c-0.259,0.667-0.541,1.335-0.847,2.005c-0.319,0.698-0.642,1.353-0.967,1.954 c-0.038,0.071-0.077,0.144-0.118,0.216l2.869,2.823c0.032,0.03,0.063,0.062,0.095,0.094c0.576,0.608,1.01,1.285,1.302,2.026 c0.293,0.743,0.438,1.528,0.438,2.35c0,0.818-0.146,1.598-0.437,2.337c-0.29,0.738-0.718,1.41-1.285,2.02l-0.001-0.001 c-0.023,0.025-0.048,0.051-0.073,0.075l-5.651,5.586c-0.585,0.614-1.247,1.085-1.99,1.405c-0.751,0.323-1.562,0.488-2.434,0.488 c-0.853,0-1.659-0.168-2.422-0.498c-0.756-0.326-1.421-0.797-1.998-1.405l-3.296-3.306c-0.119,0.056-0.236,0.109-0.351,0.161 c-0.611,0.275-1.273,0.552-1.987,0.827c-0.661,0.257-1.356,0.496-2.081,0.718c-0.097,0.03-0.193,0.06-0.289,0.088v4.033 c0,0.852-0.158,1.652-0.473,2.403c-0.31,0.74-0.764,1.405-1.361,1.999l-0.047,0.047c-0.601,0.58-1.267,1.021-1.999,1.324 c-0.75,0.311-1.53,0.465-2.346,0.465H36.85c-1.737,0-3.204-0.6-4.422-1.816l0.004-0.005c-0.607-0.608-1.062-1.284-1.366-2.032 c-0.304-0.745-0.455-1.539-0.455-2.385V72.77c-0.124-0.047-0.249-0.096-0.377-0.145c-0.666-0.26-1.334-0.542-2.003-0.848 c-0.699-0.319-1.353-0.642-1.955-0.967c-0.072-0.039-0.144-0.078-0.215-0.118l-2.824,2.868c-0.03,0.033-0.062,0.064-0.094,0.096 c-0.608,0.576-1.286,1.01-2.026,1.302c-0.743,0.293-1.528,0.438-2.349,0.438c-0.82,0-1.599-0.145-2.338-0.436 c-0.738-0.29-1.41-0.719-2.019-1.286l0.001-0.001c-0.026-0.023-0.051-0.048-0.076-0.073l-5.633-5.697 c-0.592-0.604-1.046-1.27-1.358-2.001c-0.324-0.759-0.488-1.56-0.488-2.402c0-0.855,0.168-1.659,0.498-2.413 c0.325-0.744,0.795-1.401,1.405-1.98l3.306-3.297c-0.056-0.118-0.109-0.235-0.161-0.351c-0.276-0.611-0.552-1.273-0.827-1.986 c-0.267-0.685-0.505-1.376-0.719-2.072l0.002-0.001l-0.002-0.008l-0.087-0.289H6.239c-0.852,0-1.652-0.157-2.404-0.472 c-0.74-0.31-1.405-0.764-1.999-1.36l-0.047-0.048c-0.581-0.601-1.021-1.267-1.324-1.999C0.154,46.473,0,45.691,0,44.877v-8.028 c0-0.846,0.151-1.64,0.455-2.385c0.304-0.745,0.756-1.419,1.36-2.025l0.002-0.002l0.004-0.004l0.004-0.005 c0.606-0.604,1.281-1.058,2.027-1.362s1.54-0.455,2.386-0.455h4.718c0.047-0.124,0.096-0.249,0.146-0.377 c0.259-0.666,0.541-1.334,0.847-2.004c0.319-0.698,0.641-1.352,0.966-1.954c0.042-0.077,0.084-0.155,0.126-0.232l-2.853-2.861 c-0.601-0.595-1.059-1.268-1.374-2.011c-0.325-0.768-0.486-1.571-0.486-2.405c0-0.831,0.161-1.628,0.483-2.393 c0.319-0.756,0.776-1.432,1.373-2.028l0.004,0.004l5.615-5.628l0,0l0.019-0.019c0.602-0.592,1.268-1.047,2-1.359 c0.76-0.323,1.56-0.488,2.403-0.488c0.855,0,1.658,0.168,2.413,0.498c0.739,0.323,1.393,0.789,1.969,1.394l3.355,3.308 c0.102-0.049,0.203-0.096,0.304-0.143c0.617-0.285,1.278-0.563,1.985-0.835c0.661-0.257,1.356-0.497,2.081-0.719 c0.097-0.029,0.193-0.059,0.289-0.087V6.238c0-0.852,0.158-1.652,0.472-2.404c0.31-0.739,0.764-1.405,1.36-1.999l0.048-0.047 c0.601-0.581,1.267-1.021,2-1.324C37.254,0.154,38.035,0,38.85,0h8.028c0.845,0,1.64,0.151,2.385,0.455 c0.759,0.31,1.438,0.763,2.036,1.361l-0.004,0.005l0.004,0.004c0.604,0.603,1.057,1.278,1.362,2.027 c0.304,0.745,0.455,1.54,0.455,2.385v4.719c0.124,0.047,0.25,0.096,0.377,0.145c0.666,0.259,1.334,0.541,2.004,0.847 c0.699,0.32,1.353,0.642,1.954,0.967l0.232,0.126l2.861-2.853c0.596-0.602,1.268-1.059,2.011-1.374 c0.769-0.325,1.571-0.485,2.405-0.485C65.791,8.331,66.589,8.491,67.354,8.813L67.354,8.813z M41.863,23.754 c1.234,0,2.438,0.118,3.616,0.353c1.152,0.23,2.298,0.586,3.438,1.067l0.016,0.007l0.003-0.007 c1.077,0.464,2.103,1.023,3.077,1.675c0.964,0.645,1.855,1.373,2.672,2.183l0.01,0.01v0c0.811,0.818,1.539,1.71,2.184,2.674 c0.652,0.974,1.21,2,1.675,3.076c0.028,0.066,0.054,0.133,0.076,0.2c0.443,1.081,0.773,2.166,0.991,3.256 c0.235,1.177,0.353,2.382,0.353,3.616c0,1.234-0.118,2.439-0.353,3.615c-0.23,1.152-0.586,2.298-1.067,3.439l-0.007,0.016 l0.007,0.002c-0.464,1.076-1.023,2.102-1.675,3.076c-0.645,0.964-1.373,1.855-2.184,2.673l-0.01,0.01l0,0 c-0.817,0.81-1.708,1.538-2.673,2.184c-0.974,0.651-1.999,1.21-3.076,1.675c-0.066,0.028-0.132,0.054-0.2,0.075 c-1.081,0.443-2.166,0.773-3.257,0.991c-1.177,0.235-2.382,0.353-3.616,0.353s-2.438-0.117-3.615-0.353 c-1.152-0.229-2.298-0.585-3.438-1.066l-0.016-0.007l-0.003,0.007c-1.076-0.465-2.102-1.023-3.076-1.675 c-0.964-0.646-1.855-1.374-2.672-2.184l-0.009-0.01l0,0c-0.811-0.817-1.539-1.709-2.184-2.673c-0.652-0.974-1.21-1.999-1.674-3.076 c-0.029-0.065-0.054-0.133-0.076-0.199c-0.443-1.081-0.773-2.167-0.992-3.258c-0.235-1.176-0.353-2.381-0.353-3.615 c0-1.234,0.118-2.438,0.353-3.616c0.23-1.152,0.586-2.298,1.067-3.438l0.006-0.016l-0.006-0.002 c0.464-1.077,1.022-2.102,1.674-3.076c0.646-0.964,1.373-1.855,2.184-2.674l0.009-0.009v0c0.817-0.81,1.708-1.538,2.672-2.183 c0.975-0.652,2-1.211,3.077-1.675c0.067-0.029,0.134-0.054,0.202-0.076c1.08-0.442,2.165-0.773,3.255-0.991 C39.424,23.872,40.629,23.754,41.863,23.754L41.863,23.754z M44.548,28.778c-0.866-0.172-1.761-0.259-2.685-0.259 s-1.819,0.087-2.685,0.259c-0.833,0.166-1.623,0.401-2.37,0.705c-0.045,0.022-0.091,0.044-0.138,0.064 c-0.845,0.365-1.617,0.781-2.314,1.248c-0.705,0.472-1.358,1.006-1.961,1.603c-0.595,0.601-1.129,1.255-1.601,1.96 c-0.466,0.697-0.882,1.469-1.247,2.313l-0.007-0.003c-0.332,0.79-0.586,1.626-0.762,2.511c-0.173,0.866-0.26,1.761-0.26,2.685 s0.086,1.819,0.26,2.685c0.166,0.832,0.401,1.622,0.704,2.369c0.023,0.045,0.044,0.091,0.065,0.139 c0.364,0.845,0.78,1.615,1.247,2.313c0.472,0.705,1.006,1.358,1.603,1.961c0.602,0.596,1.255,1.13,1.96,1.602 c0.697,0.467,1.469,0.883,2.313,1.247l-0.003,0.007c0.789,0.331,1.625,0.586,2.51,0.763c0.866,0.172,1.76,0.259,2.685,0.259 c0.924,0,1.819-0.087,2.685-0.259c0.833-0.166,1.622-0.401,2.369-0.704c0.046-0.023,0.092-0.045,0.139-0.065 c0.845-0.364,1.616-0.78,2.313-1.246c0.705-0.473,1.359-1.007,1.961-1.603c0.596-0.602,1.13-1.256,1.603-1.962 c0.466-0.696,0.882-1.468,1.246-2.312l0.007,0.002c0.332-0.789,0.586-1.625,0.763-2.51c0.173-0.866,0.26-1.761,0.26-2.685 s-0.087-1.819-0.26-2.685c-0.166-0.833-0.401-1.622-0.704-2.369c-0.023-0.045-0.045-0.091-0.065-0.139 c-0.364-0.844-0.78-1.616-1.247-2.313c-0.472-0.706-1.006-1.359-1.601-1.96c-0.602-0.597-1.256-1.131-1.961-1.603 c-0.698-0.467-1.469-0.883-2.314-1.248l0.003-0.007C46.27,29.209,45.434,28.955,44.548,28.778L44.548,28.778z"/></g>
      </svg>
    </button>
    <div class="diff-plus-ui__settings-panel">
      {{ settings }}
    </div>
  </div>
  <div class="diff-plus-ui__navigation">
    <div class="diff-plus-ui__previous-revision-placeholder">
      {% if previous_revision_url %}
        <a class="diff-plus-ui__previous-revision" href="{{ previous_revision_url }}"><span class="diff-plus-ui__navigation-text">{{ 'Previous change'|t }}</span></a>
      {% endif %}
    </div>
    <div class="diff-plus-ui__choose-new-range-placeholder">
      <a class="diff-plus-ui__choose-new-range" href="{{ version_history_url }}"><span class="diff-plus-ui__navigation-text">{{ 'Choose different range'|t }}</span></a>
    </div>
    <div class="diff-plus-ui__next-revision-placeholder">
      {% if next_revision_url %}
        <a class="diff-plus-ui__next-revision" href="{{ next_revision_url }}"><span class="diff-plus-ui__navigation-text">{{ 'Next change'|t }}</span></a>
      {% endif %}
    </div>
  </div>
</div>
